@import '../../variables';

.landing-header {
  width: 100%;
  min-height: 80px;
  padding: 10px 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {

    button + button {
      margin-left: 15px;
    }
  }
}
