// Colors
$color-primary: #fff;
$color-secondary: #000;
$colorBtn: #1b1b72;

// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// FontSize
$font-size-base: 14px;

// Variables
$borderRadius: 5px;
