.app__btn {
  text-align: center;
  font: $font-size-base $font-global-medium;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $borderRadius;
  transition: background-color .15s ease-in, border-color .15s ease-in, color .15s ease-in;
  cursor: pointer;
  border: 1px solid transparent;

  &--primary {
    background: $color-dodger-blue;
    color: $color-white;

    &:hover {
      background: $color-cornflower-blue;
    }

    &.app__btn--disabled {
      color: rgba($color-white, .4);
    }
  }

  &--rounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;

    svg {
      fill: $color-white;
    }
  }

  &--border {
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: $borderRadius;
    transition: color .15s ease-in, background-color .15s ease-in;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &--cancel {
    background: transparent;
    color: $color-dodger-blue;
    transition: background-color .15s ease-in;

    &:hover {
      background: rgba($color-dodger-blue, .08);
    }
  }

  &--disabled {
    pointer-events: none;
  }
}
