@import "reset";
@import "variables";
@import "transitions";
@import "toasted-notification";
@import "buttons";
@import "landing";
@import "modal";
@import "vue-input-tel";
@import "calendar-working-days";

.form-field {
  position: relative;
}

.app {

  &__title {
    font-size: 30px;
  }

  &--flex {
    display: flex;
  }

  &-dashboard {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    position: relative;
  }

  &-actions {
    display: flex;
    justify-content: center;
  }

  &-error-page {
    text-align: center;

    &__action {
      display: flex;
      justify-content: center;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__description {
      margin-bottom: 15px;
    }
  }

  &-oauth {
    margin-bottom: 20px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    a + a {
      margin-left: 10px;
    }
  }

  &-divider {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 20px 0;

    &__item {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      color: rgb(93, 108, 116);
      text-align: center;
      min-width: 70px;
      max-width: 100px;
      width: 100%;
    }

    &:after {
      content: "";
      flex: 0 1 100%;
      border-bottom: 1px solid rgb(184, 196, 194);
      margin: 0 10px;
      transform: translateY(-50%);
    }

    &:before {
      content: "";
      flex: 0 1 100%;
      border-bottom: 1px solid rgb(184, 196, 194);
      margin: 0 10px;
      transform: translateY(-50%);
    }
  }

  &__link {
    color: $color-denim;
    transition: color .15s ease-in;
    cursor: pointer;

    &:hover {
      color: rgba($color-denim, .8);
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $color-background;
  }

  &-modal {
    font-family: Uni Neue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 400;
    display: flex;
    width: 500px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background: #fff;

    &__subtitle {
      font-size: 16px;
      margin-bottom: 15px;

      &--middle {
        text-align: center;
      }
    }

    &__form {
      margin-bottom: 10px;
    }

    &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 125%;
      text-align: center;
      color: #000;
      margin-bottom: 40px;
    }

    &__logo {
      margin-bottom: 10px;
      img {
        width: 80px;
        height: 80px;
      }
    }

    &__footer {
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      color: #2c2c2c;
      min-height: 36px;
      margin-top: 36px;
    }

    &__form {

      &-wrapper {
        position: relative;

        a {
          font-size: $font-size-small;
          position: absolute;
          right: 0;
          top: 6px;
        }

        span {
          position: absolute;
          top: 30px;
          z-index: 1;
          right: 10px;
        }
      }
    }
  }
}

.validation {
  position: absolute;
  color: $color-cardinal;
  font: $font-size-sm $font-global-medium;
  line-height: 1.55;
  max-width: 397px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--required {
    position: relative;

    &:after {
      content: " *";
      color: $color-cardinal;
      font-weight: bold;
      padding-left: 2px;
    }
  }

  &--input {
    top: 58px;
  }

  &--textarea {
    bottom: -15px;
  }
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #cfcde7;
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}

.account:hover {
  color: #fff;
}

.admin-user {
  display: flex;
  align-items: center;
}

.admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.admin-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.admin-info {
  padding-left: 0.3rem;
}

.admin-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.admin-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: #cfcde7;
  margin-top: 0.3rem;
  line-height: 1;
}

.log-out {
  display: flex;
  height: 40px;
  min-width: 2.4rem;
  background-color: #3651d4;
  color: #cfcde7;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 10px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}

.log-out:hover {
  color: #fff;
}

.tooltip {
  background-color: $color-dodger-blue;
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover ~ .tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

.app-dashboard.shrink nav {
  width: 5.4rem;
}

.app-dashboard.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

.app-dashboard.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

.app-dashboard.shrink .sidebar-links h4 {
  height: 10px;
}

.app-dashboard.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

.app-dashboard.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

.app-dashboard.shrink .tooltip {
  display: grid;
}
