.admin-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-big;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;


  &-wrap {
    position: relative;
    z-index: 1;
    max-height: 90%;
    background: $color-white;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    user-select: none;

    &-header {
      padding: 17px 18px;
      border-bottom: 1px solid rgba($color-dodger-blue, .08);
      position: relative;
      display: flex;
      justify-content: space-between;

      &__title {
        color: $color-dodger-blue;
        font: $font-size-h2 $font-global-medium;
        min-width: 206px;
      }

      &__close {
        position: absolute;
        right: 18px;
        top: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity .15s ease-in;

        &:hover {
          opacity: .8;
        }
      }

      &__icon {
        color: $color-dodger-blue;
        background: rgba($color-dodger-blue, .08);
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:before {
          font-size: $font-size-icon-extra-md;
        }
      }
    }

    &-content {
      padding: 20px 18px;

      &-row {
        min-height: 70px;
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 16px 18px 20px;

      &__item {

        & + & {
          margin-left: 5px;
        }
      }
    }

    &_start-drag {
      .open-window-elements {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }
  }

  &__overlay {
    background: rgba($color-black, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
