$color-mercury: #E5E5E5;
$color-background: #f9f9f9;
$color-white: #fff;
$color-black: #000;
$color-gallery: #EEEEEE;
$color-silver-chalice: #A9A9A9;
$color-dodger-blue: #276EF1;
$color-cardinal: #FF2323;
$color-alabaster: #F8F8F8;
$color-alabaster-light: #FCFCFC;
$color-mine-shaft: #212121;
$borderRadius: 4px;
$borderRadiusMedium: 3px;
$borderRadiusLarge: 5px;
$borderRadiusSmall: 2px;
$color-denim: #0F57DD;
$color-cornflower-blue: #0F57DD;
$doneOrder: #09BC05;
$color-alabaster: #FCFCFC;

// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;
$font-landing-global: SuisseIntl, sans-serif;
$font-landing-medium: SuisseIntl-medium, sans-serif;
$font-landing-bold: SuisseIntl-bold, sans-serif;
$icon-font-ub: 'fontello';

// font-size
$font-size-landing-h1: 40px;
$font-landing-large: 36px;
$font-size-base: 14px;
$font-size-icon-large: 30px;
$font-size-xlg: 16px;
$font-size-icon-xd: 18px;
$font-size-icon-large: 30px;
$font-size-landing-medium: 18px;
$font-size-landing-small: 12px;
$font-size-landing-bread-crums: 11px;
$font-size-landing-heading: 22px;
$font-size-landing-heading-tablet: 28px;
$font-size-landing-heading-large: 26px;
$font-size-dd: 20px;
$font-size-lg: 15px;
$font-size-ml: 13px;
$font-size-md: 12px;
$font-size-sm: 11px;
$font-size-small: 10px;
$font-size-huge: 22px;
$font-size-icon: 8px;
$font-size-landing-large: 36px;
$font-size-landing-h1-tablet: 34px;
$font-size-landing-lg: 24px;
$font-size-landing-extra: 25px;
$font-size-landing-medium: 18px;
$font-size-landing-md: 16px;
$font-size-landing-sm: 14px;
$font-size-landing-small: 12px;
$font-size-landing-smm: 10px;
$font-size-landing-es: 9px;
$font-size-landing-esm: 8px;
$font-size-icon-large: 30px;
$font-size-icon-extra-md: 24px;
$font-size-icon-md: 24px;
$font-size-icon-ml: 22px;
$font-size-icon-xd: 18px;
$font-size-icon-sm: 17px;

$font-size-h1: 22px;
$font-size-h2: 16px;
$font-size-h3: 14px;
$font-size-h6: 8px;

//z-index
$z-index-biggest: 99999;
$z-index-big: 100;
$z-index-middle: 50;
$z-index-small: 20;
